<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>

		<servlet-name>results</servlet-name>
		<servlet-class>LuceneTester.results</servlet-class>
</servlet>
<servlet>
		<servlet-name>DisplayContent</servlet-name>
		<servlet-class>LuceneTester.DisplayContent</servlet-class>

</servlet>
	
	
<servlet-mapping>
	<servlet-name>results</servlet-name>
	<url-pattern>/results</url-pattern>
</servlet-mapping>

<servlet-mapping>
		<servlet-name>DisplayContent</servlet-name>
		<url-pattern>/DisplayContent</url-pattern>
</servlet-mapping>
	
	
	<welcome-file-list>
<welcome-file>Interface.jsp</welcome-file>
</welcome-file-list>
</web-app>

